::selection {
	background-color: $grey-light;
}

html {
	background-color: $black;
}

.fab {
	// remove faux-bold from certain scenarios
	font-weight: normal;
}

form {
	margin: 3rem 0 0;
}

.field:not(:last-child) {
	margin-bottom: 1.5rem;
}
